{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports"
  ],
  "ignore": [
    "node_modules/**/*.js"
  ]
}